.option{
    /* margin: 3vh auto; */
    padding: 1% 2%;
}

.title{
    font-size: x-large;
    margin: 0;
    margin-bottom: 2%;
}

#input-id{
    margin-left: 5%;
    width: 40%;
}

.down:hover{
    color: blue;
}

.nb{
    margin-top: 0;
    margin-left:2vw;
    color: rgb(209, 96, 96);
    font-weight: 500;
}